{% extends 'base.html' %}
{% load static %}
{% block title %} Əsas səhifə {% endblock %}

{% block content %}
                
    <!-- Page Header Start -->
    <div class="container py-5 px-2 bg-primary">
        <div class="row py-5 px-4">
            <div class="col-sm-6 text-center text-md-left">
                <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Blog</h1>
            </div>
            <div class="col-sm-6 text-center text-md-right">
                <div class="d-inline-flex pt-2">
                    <h4 class="m-0 text-white"><a class="text-white" href="{% url '' %}">Əsas səhifə</a></h4>
                    <h4 class="m-0 text-white px-2">/</h4>
                    <h4 class="m-0 text-white">Blog</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Blog List Start -->
    <div class="container bg-white pt-5">
    {% for blog in blogs %}
        <div class="row blog-item px-3 pb-5">
            <div class="col-md-5">
                <img class="img-fluid mb-4 mb-md-0" src="{{ blog.images.url }}" alt="Image">
            </div>
            <div class="col-md-7">
                <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ blog.title }}</h3>
                <div class="d-flex mb-3">
                    <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ blog.date }}</small>
{#                    <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>#}
{#                    <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>#}
                </div>
                <p>
                    {{ blog.text|safe|truncatechars:100 }}
                </p>
                <a class="btn btn-link p-0" href="{% url 'blog-details' blog.id %}">Daha çox oxu <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    {% endfor %}
        <div class="row px-3 pb-5">
            <nav aria-label="Page navigation">
              <ul class="pagination m-0 mx-3">
                <li class="page-item">
                {%if blogs.has_previous%}
                  <a class="page-link" href="?page={{blogs.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Əvvəlki</span>
                  </a>
                {% endif %}
                </li>
                <li class="page-item active"><a class="page-link" href="">{{blogs.number}} / {{blogs.paginator.num_pages}}</a></li>
                <li class="page-item">
                {%if blogs.has_next%}
                  <a class="page-link" href="?page={{blogs.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Sonrakı</span>
                  </a>
                {% endif %}
                </li>
              </ul>
            </nav>
        </div>
    </div>
    <!-- Blog List End -->
                
                
{% endblock %}