{% extends 'base.html' %}
{% load static %}
{% block title %} Əsas səhifə {% endblock %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container py-5 px-2 bg-primary">
        <div class="row py-5 px-4">
            <div class="col-sm-6 text-center text-md-left">
                <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Daha geniş</h1>
            </div>
            <div class="col-sm-6 text-center text-md-right">
                <div class="d-inline-flex pt-2">
                    <h4 class="m-0 text-white"><a class="text-white" href="{% url '' %}">Əsas səhifə</a></h4>
                    <h4 class="m-0 text-white px-2">/</h4>
                    <h4 class="m-0 text-white">Daha geniş</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Blog Detail Start -->
    <div class="container py-5 px-2 bg-white">
        <div class="row px-4">
            <div class="col-12">
                <img class="img-fluid mb-4" src="{{ blog.images.url }}" alt="Image">
                <h2 class="mb-3 font-weight-bold">{{ blog.title }}</h2>
                <div class="d-flex">
                    <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{ blog.date }}</p>
{#                    <p class="mr-3 text-muted"><i class="fa fa-folder"></i> Web Design</p>#}
{#                    <p class="mr-3 text-muted"><i class="fa fa-comments"></i> 15 Comments</p>#}
                </div>
                <p>{{ blog.text|safe }}</p>
            </div>
{#            <div class="col-12 py-4">#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#                <a href="" class="btn btn-sm btn-outline-primary mb-1">Lorem</a>#}
{#            </div>#}
            {% if blog.is_comment %}
                <div class="col-12 py-4">
            {% for message in messages %}
            <div id="success" style="background-color: rgba(0, 128, 0, 0.6); line-height: 2; color:red; font-weight: bold;">{{ message }}</div>
            {% endfor %}
                <h3 class="mb-4 font-weight-bold">{{ num }} rəy</h3>
                {% for comment in comments %}
                <div class="media mb-4">
{#                    <img src="img/user.jpg" alt="Image" class="mr-3 mt-1 rounded-circle" style="width:60px;">#}
                    <div class="media-body">
                        <h4>{{ comment.name }} <small><i>{{ comment.date }}</i></small></h4>
                        <p>{{ comment.message }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
                <div class="col-12">
                <h3 class="mb-4 font-weight-bold">Rəy yazın</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Ad *</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">E-poçt *</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Rəy *</label>
                        <textarea name="message" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Göndər" class="btn btn-primary">
                    </div>
                </form>
            </div>
            {% else %}
                <h3 class="mb-4 font-weight-bold" style="background-color: rgba(255, 0, 0, 0.5);"> Bu blog üçün rəylər deaktivdir! </h3>
            {% endif %}
        </div>
    </div>
    <!-- Blog Detail End -->

{% endblock %}